<div class="registration">
<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:<p>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <p class="text-danger"><%= message %></p>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form">
    <%= form.label :category %>
    <%= form.text_field :category, class:"form-control" %>
  </div>

  <div class="actions pt-3">
    <%= form.submit "Create Category", class:"btn btn-success" %>
    <%= link_to 'Home', categories_path, class:"btn btn-secondary"%>
  </div>
<% end %>
<div>