<p id="notice"><%= notice %></p>


<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"><%= @product.title %></h5>
    <p class="card-text"><%= @product.content %>.</p>
    <h6 class="card-title">Price: <%= @product.price %>$</h6>
   <% if user_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-primary" %> 
<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %> 

  
<% else %>
  <%= link_to 'Home', products_path, class:"btn btn-primary" %>
<% end %>
  </div>
  
</div>


